# ignore produced server binary
/server
# ignore produced cli binary
/blankpage

# ignore any python cache files from tests
*.pyc
__pycache__/

# ignore the local gutenberg cache directory
/seed-books/
